<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.trt.micro.dao.RoleResourceDao">
    <resultMap id="role_resource_map" type="org.trt.micro.dto.RoleResourceDTO">
        <result property="role" column="role"/>
        <result property="resource" column="resource"/>
    </resultMap>



    <select id="roleResources" resultMap="role_resource_map">
        SELECT mro.role as role, mre.resource as resource
        FROM
        mall_resource mre
        LEFT JOIN
        mall_role_resource mrr
        on
        mrr.resource_id = mre.id
        left	JOIN
        mall_role	mro
        on
        mrr.role_id = mro.id;
    </select>

</mapper>